$input-height: 32px;
$button-height: 32px;
$font-size: 14px;
$small-font-size: 12px;
$button-bg: white;
$button-active-bg: #eee;
$color: #333;
$light-color: #666;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-color-hover: #666;

$height: 32px;
$width: 128px;
$border-radius: 4px;
$border-shadow-color: rgba(0, 0, 0, 0.5);
$disabled-color: #aaa;
$readonly-color: #aaa;
$red: #f1435d;
$grey: #ddd;

$blue: blue;

$tab-height: 40px;
$font-color: #fff;
$toast-min-height: 40px;
$toast-bg: rgba(0, 0, 0, 0.74);
$animation-duration: 0.6s;
%box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
